<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>

<h1>Add</h1>

<!--<form method="POST">-->
<!--action="https://csc3221-final-project-back-end.herokuapp.com/api/books">-->
    <label for="namePost">Name:</label>
    <input type="text" id="namePost" name="Name">

    <label for="authorPost">Author:</label>
    <input type="text" id="authorPost" name="Author">

    <label for="isbnPost">ISBN:</label>
    <input type="text" id="isbnPost" name="ISBN">

    <label for="pricePost">Price:</label>
    <input type="text" id="pricePost" name="Price">

    <input type='hidden' name='redirect_to' value='add.html' />

    <input type="submit" id="submitNewBook" value="Add Book">
<!--</form>-->



<script src="javascripts/post.js"></script>

</body>
</html>