<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Major Winters' Book Catalog</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--            <li class="nav-item active">-->
            <!--                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
            <!--            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="/show">View All Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/find">Find</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/add">Add</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/remove">Remove</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/update">Update</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/extra_credit">Extra Credit</a>
            </li>
        </ul>
    </div>
</nav>
<!--<form method="POST">-->
<!--action="https://csc3221-final-project-back-end.herokuapp.com/api/books">-->
<!--<form>-->
<div class="input-group mb-3" style="margin-left: 15px; margin-top: 5px;">
<!--    <label for="namePost">Name:</label>-->
    <input type="text" id="namePost" name="Name" placeholder="Title">
<!--    <label for="authorPost">Author:</label>-->
    <input type="text" id="authorPost" name="Author" placeholder="Author">
<!--    <label for="isbnPost">ISBN:</label>-->
    <input type="text" id="isbnPost" name="ISBN" placeholder="ISBN">
<!--    <label for="pricePost">Price:</label>-->
    <input type="text" id="pricePost" name="Price" placeholder="Price">
<!--    <input type='hidden' name='redirect_to' value='add.html' />-->

<!--    <input type="submit" id="submitNewBook" value="Add Book">-->
    <button id="submitNewBook" class="btn btn-primary">Add Book</button>
</div>
<!--</form>-->
<!--</form>-->

<script src="javascripts/post.js"></script>

</body>
</html>