<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extra Credit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Major Winters' Book Catalog</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--            <li class="nav-item active">-->
            <!--                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
            <!--            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="/show">View All Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/find">Find</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add">Add</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/remove">Remove</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/update">Update</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/extra_credit">Extra Credit</a>
            </li>
        </ul>
    </div>
</nav>

<div class="input-group mb-3" style="margin-left: 15px; margin-top: 5px;">
    <div class="input-group-prepend">
        <select name="ecFindChoice" id="ecFindChoice">
            <option value="isbn">ISBN</option>
            <option value="author">Author</option>
        </select>
    </div>
    <input type="text" id="ecFindInput" name="ecFindInput">

    <button id="ecFindBook" class="btn btn-primary">Find Book</button>
</div>

<div class="input-group mb-3" style="margin-left: 15px; margin-top: 5px;">
    <input type="text" id="ecNamePost" name="Name" placeholder="Title">
    <input type="text" id="ecAuthorPost" name="Author" placeholder="Author">
    <input type="text" id="ecisbnPost" name="ISBN" placeholder="ISBN">
    <input type="text" id="ecPricePost" name="Price" placeholder="Price">
    <button id="ecSubmitNewBook" class="btn btn-primary">Add Book</button>
</div>

<div id="ecShowTable">

</div>

<script src="javascripts/extra_credit.js"></script>
</body>
</html>