<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find</title>
</head>
<body>

<h1>Find</h1>

<div id="findTable">

</div>

<!--<label for="isbnPost">ISBN:</label>-->
<!--<input type="text" id="isbnPost" name="ISBN">-->

<!--<label for="pricePost">Price:</label>-->
<!--<input type="text" id="pricePost" name="Price">-->

<!--<input type='hidden' name='redirect_to' value='add.html' />-->

<label for="findChoice">Search by:</label>

<select name="findChoice" id="findChoice">
    <option value="isbn">ISBN</option>
    <option value="author">Author</option>
</select>

<input type="text" id="findInput" name="findInput">

<button id="findBook">Find</button>

<script src="javascripts/find.js"></script>

</body>
</html>